<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="simpleSection"
		         type="FileSystemWatcher.Configuration.CustomConfigurationSection, FileSystemWatcher"/>
	</configSections>
	<appSettings>
		<add key="DefaultFolder" value="D:\Temp\Default"/>
	</appSettings>
	<simpleSection configSource="User.config"/>
</configuration>