<?xml version="1.0" encoding="utf-8" ?>
<simpleSection appName="My App">
	<culture name="en-En" />
	<folders>
		<folder path="D:\Temp\Example"/>
		<folder path="D:\Temp\"/>
	</folders>
	<rules>
		<rule pattern="\.docx$" destination="D:\Temp\Docs" addIndex="true" addDate="true"/>
		<rule pattern="\.txt" destination="D:\Temp\TextDocs" addIndex="false" addDate="false"/>
		<rule pattern=".*\d+.*" destination="D:\Temp\WithDigit" addIndex="false" addDate="true"/>
	</rules>
</simpleSection>