<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simpleSection"
             type="ConfigurationSectionSample.Configuration.CustomConfigurationSection, ConfigurationSectionSample"/>
  </configSections>
  <connectionStrings>
    <add name="myDB" connectionString="server=localhost"/>
  </connectionStrings>
  <appSettings>
    <add key="Key1" value="1"/>
    <add key="Key2" value="2"/>
  </appSettings>
  <simpleSection configSource="User.config"/>
</configuration>