<?xml version="1.0" encoding="utf-8" ?>
<simpleSection appName="My App">
  <workTime start="10:10:45" duration="0:0:3" />
  <culture name="Ru" />
  <files>
    <file name="a.txt" size="6" />
    <file name="aaa.txt" size="12" />
    <file name="b.txt" />
  </files>
	<folders>
		<folder path="D:\"/>
		<folder path="D:\Temp\"/>
	</folders>
</simpleSection>